a.noUnderline {
    text-decoration: none;
}

*.imageBox {
    max-width: 12rem;
    min-width: 8rem;
}

*.hover {
    cursor: pointer;
}

*.backgroundBox {
    max-width: 20rem;
    min-width: 8rem;
}

*.modal-custom {
    height: 40rem;
    max-width: 80rem;
}

div.intro {
    animation: intro 0.5s linear 0.5s;
}

@keyframes intro {
    0% {height: 100%}
    100% {height: 20rem}
}