a.noUnderline {
    text-decoration: none;
}

*.imageBox {
    max-width: 12rem;
    min-width: 8rem;
}


*.backgroundBox {
    max-width: 20rem;
    min-width: 8rem;
}

*.modal-custom {
    height: 40rem;
    max-width: 80rem;
}